*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
header {
    background-color: #0020F4;
}
.class-navbar  li a {
    color: white;
}
.background {
    
    background-color: red;
    border-radius: 15px;
}
.class-title {
    display: inline-block;
    font-size: 28px;
    color: #171717;
}
/* .image {
    display:inline-block;
    width: 1195px;
    height: 600px;
    margin: auto;
} */
.div-image {
    display: inline-block;
    padding: 50px;
}
.section-class p {
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    color: red;
    
}
/* .section-image  image {
    display: inline-block;
    width: 1195px;
    height: 600px;
    object-fit: cover;
    margin: auto;
   
} */